:root {
 --dark: #374151;
 --darker: #282f3a;
 --darkest: #1a1e25;
 --grey: #646363;
 --light: #eee;
 --pink: #ce96df;
 --prurple: #8946aa;
}

* {

box-sizing: border-box;
margin: 0;
font-family: Arial, Helvetica, sans-serif , sans-serif;

}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color:white;
}

header{

    padding: 2rem 1rem;
    max-width:800px;
    width:100%;
    margin: 0 auto;
}

header h1 {

    font-size: 2.5rem;
    font-weight: 300;
    color:var(--grey);
    margin-bottom: 1rem;
}

